page-mapview {
    @font-face {
        font-family: 'Kanit';
        src: url('../assets/fonts/Kanit-Regular.ttf') format('ttf');
        font-weight: normal;
        font-style: normal;
      }
      
      background-color: #387ef5;

      .kanit {
        font-family: 'Kanit';
      }
      
      .map{
          //width:100%; 
          height:63%;
        }

      .data {
          height:25%;
        }
}
