<ion-header >
    <ion-navbar >
        <button ion-button menuToggle class="home_bg">
    </button>
        <ion-title><img src="../assets/logobanner.png" alt="" ></ion-title>
    </ion-navbar>
</ion-header>




<ion-content  class="kanit" >
    <ion-card id="map" class="map"></ion-card>

  <ion-card *ngFor="let c of prov">

  
  <ion-item>
    <ion-thumbnail item-start>
      <img src="../assets/img_trav/{{c.img_place}}">
    </ion-thumbnail>
      <h2>{{c.name_place}}</h2>
      <p>ที่ตั้ง : {{c.addre_place}}</p>
  </ion-item>

  <ion-item>
    <ion-icon name="flash" item-left large ></ion-icon>
    <h2>พบการเกิดโรคในระยะ 2 กิโลเมตร</h2>
    
  </ion-item>


</ion-card>


  <ion-scroll scrollX="true" scrollY="true" class="data">     
      <ion-list>
        <ion-item ion-item *ngFor="let c of items">
          <h3 >{{c.properties.vill_nam_t}}</h3>
          <p>พบผู้ป่วย {{c.properties.patient}} ราย </p>
        </ion-item>
      </ion-list>
  </ion-scroll>


  <ion-item>

    <span item-left>

        <button ion-button icon-left clear item-end (click)="goToHowto()">
          <ion-icon name="navigate"></ion-icon>
          แนวทางป้องกัน
        </button>
      
    </span>

    <button ion-button icon-left clear item-end (click)="itemSelected(c)">
      <ion-icon name="navigate"></ion-icon>
      ค้นหาเส้นทางมาที่นี่
    </button>

  </ion-item>


</ion-content>