page-home {
  
.home_bg {
  background-image: url("http://www.stuermerfoto.ch/render/w1024-q90/examples/assets/city-lights.jpg");
    background-repeat: no-repeat;
    background-size: auto 100% ;
  
}
@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

background-color: #387ef5;

.kanit {
  font-family: 'Kanit';
}

.map{
    //width:100%; 
    height:63%;
  }

.data {
    height:25%;
  }

}

